<div>
    <form class="form-group-lg form-sign center-block" ng-submit="login.login()" name="loginForm">
        <h2>Sign in</h2>

        <label for="inputName" class="sr-only">User name</label>
        <input type="text" class="form-control" id="inputName" placeholder="User name" ng-model="login.name">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword" ng-model="login.password" placeholder="Password">

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button type="submit" class="btn btn-block btn-lg btn-block btn-primary">Sign in</button>
    </form>

    <div class="center-block login-with">
        <p><strong>Sign in with</strong></p>
        <div>
            <a href="#/oauth/github"><img src="assets/img/github-logo.png"></a>
        </div>
    </div>
</div>