head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
        function bigPipeSet(id, html) {var element = document.getElementById(id);element.innerHTML = html;}