nav#navbar loadding...
dev.container-fluid.main-container(ng-controller='layOutCtrl as layOut')
    div.row.main-row-container
        aside#sidebar(class='{{ layOut.sidebarClass }}')
        div(ng-controller='homeCtrl')
            h1 Hone