nav.navbar.navbar-default
    div.container
        div.navbar-header
            a.navbar-brand(href='/') #{ appName }
        
        div.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/login') Sign In
                li
                    a(href='/manager') Manager