div.sidebar-wrapper
    ul.navbar-default
        li
            a(href='#') list
        li
            a(href='#') list
        li
            a(href='#') list
        li
            a(href='#') list