<div class="container-fluid">
    <div class="page-header">
        <h3 class="text-center">System Settings Page</h3>
    </div>

    <div>
        <form class="form-group-lg form-sign center-block" ng-submit="manager.saveSettings()">
            <label for="inputGithubId">Github client id:</label>
            <input type="text" id="inputGithubId" class="form-control" ng-model="manager.github_client_id"/>

            <label for="inputGithubSecrect">Github client secret:</label>
            <input type="text" id="inputGithubSecrect" class="form-control" ng-model="manager.github_client_secret"/>

            <label for="inputGithubRedirectUri">Github redirect uri:</label>
            <input type="text" id="inputGithubRedirectUri" class="form-control" ng-model="manager.github_redirect_uri"/>
            <input type="submit" class="btn btn-block btn-lg btn-primary" value="Save">
        </form>
    </div>
</div>
